.navbar-inner {
    background-color: #E0E0E0;
    min-height: 0px;
    border-style: none;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 40px;
    height: 40px;
    padding-top: 0;
}

.decorated {
    text-decoration: underline;
    color: red;
}
