.navbar-main {
    background-color: #E0E0E0;
    min-height: 0px;
    border-style: none;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 40px;
    height: 40px;
    padding-top: 0;
}

.decorated {
    text-decoration: underline;
}

@font-face {
    font-family:BalsamiqSansRegular;
    src:url(fonts/BalsamiqSansRegular.ttf);
}

body {
    font-family:BalsamiqSansRegular;
}

.block-1 {padding-top: 25px;}

.block-2 {background-color: #E0E0E0;}


.navbar-orders > .nav>li>a:focus, .nav>li>a:hover {
    background-color: white;
}

.make-underline-border > *{
    border-bottom: 1px solid #BDBDBD;
}

.active {
    background: white;
}


.footer-class p{
    margin: 0px;
    color: black;
}

.form-border-style{
    border: 2px solid black;
}

@media (max-width:500px){
    .button-font h4 {
        font-size:12px;
    }
}

.button-font:hover{
    color:white;
    background-color: black;
}
