.navbar-inner {
    background-color: #E0E0E0;
    min-height: 0px;
    border-style: none;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 40px;
    height: 40px;
    padding-top: 0;
}

.decorated {
    text-decoration: underline;
    color: red;
}

@font-face {
    font-family:BalsamiqSansRegular;
    src:url(fonts/BalsamiqSansRegular.ttf);
}

body {
    font-family:BalsamiqSansRegular;
}

.block-1 {padding-top: 25px;    padding-bottom: 25px;}
