/* Font setup  */

@font-face {
    font-family:BalsamiqSansRegular;
    src:url(../fonts/BalsamiqSansRegular.ttf);
}

body {
    font-family:BalsamiqSansRegular;
}

/* Breadcrumbs on navigation*/

.breadcrumb > li + li:before {
    color: black;
    content: ">";
    padding: 0 5px;
}

/* BASE TEMPLATE */

/* Main navigation */

.main-nav {
    background-color: #E0E0E0;
    min-height: 0px;
    border-style: none;
}

.navbar-default .navbar-nav>li>a {
    text-decoration: underline;
    color: #0D47A1;
    line-height: 40px;
    height: 40px;
    padding-top: 0;
}

.main-nav-region {
    color:black;
    line-height: 40px;
    height: 40px;
    padding-top: 0;
}

/* Footer */

.footer-container {
    background-color: #E0E0E0;
}

.footer-row-1 {
    text-align: center;
    margin:5px 0px 10px 0px;
}

.footer-row-2 {
    margin-bottom:40px;
}

.footer-div p{
    margin: 0px;
    color: black;
}

/* Popover */

.popover-div {
    height: 150px;
    width: 245px;
    font-size:16px;
}

.popover-button {
    background-color:white;
    box-shadow:5px 5px;
}

.popover-p1 {
    margin:0px;
}

.popover-p2 {
    text-align:center;
}

#close_id1 {
    color:black;
}

/* START_PAGE_TEMPLATE */

/* Header */

.start-form-div-1 {
    padding-top: 25px;
}

.start-form-div-1 p {
    font-size:20px;
}

/* Form container */

.start-form-div-2 {
    background-color: #E0E0E0;
    margin-top:10px;
    border:3px solid black;
}

.start-form-div-2 form {
    padding-left: 25px;
}

.start-form-div-2 form {
    padding-left: 25px;
}

.start-form-row-1 {
    margin-bottom:20px;
    padding-top:10px;
}

.start-form-row-1-span {
    color:#9E9E9E;
}

.start-form-row-2 {
    margin-right:10px;
    margin-bottom:20px;
}

.start-form-button {
    padding-bottom:20px;
    word-wrap: break-word;
}

.start-form-button button {
    border-radius:35px;
    width:65%;
    margin:auto;
    padding: 10px 30px 10px 30px;
    border: 2px solid black;
}

/* Orders */

.start-orders-container > div {
    margin-top:20px;
    margin-bottom:20px;
}

.start-orders-a {
    color:#9E9E9E;
}

.start-orders-div {
    padding-bottom:10px;
}

.start-orders-div p:first-child {
    padding-bottom:20px;
    padding-top:10px;
}

.start-orders-div-1 {
    color:#757575;
}

.start-orders-div-2 {
    text-decoration: underline;
    color:#757575;
}

.start-orders-div-span {
    font-size:12px;
}

.start-orders-div-a {
    border-radius:10px;
    background-color:#E0E0E0;
    border:none;
    color:#757575;
}

.span-h4-height {
    font-size:18px;
    font-weight:normal;
}

.margin-for-rows-and-hrs {
    word-wrap: break-word;
}

.margin-for-rows-and-hrs nav {
    min-height:0px;
    margin-bottom:5px;
}

@media (max-width:970px){
    .margin-for-sm-screens {
        margin-top: 20px;
    }
}

.margin-for-rows-and-hrs > div, .margin-for-rows-and-hrs > hr{
    margin: 0px 15px 0px 15px;
}

.navbar-orders > .nav>li>a:focus, .nav>li>a:hover {
    background-color: white;
}

/* Carousel */

.start-carousel-row > div{
    word-wrap: break-word;
}

.active {
    background: white;
}

.carousel-control.left, .carousel-control.right {
    background-image: none;
}

.start-carousel-div-span {
    color: black;
}

/* General */

.border-style{
    border: 2px solid black;
}

@media (max-width:500px){
    .button-style h4 {
        font-size:12px;
    }
}

.button-style:hover{
    color:white;
    background-color: #FF8A80;
    border: 2px solid black;
}

.button-a-style {
    width: 55%;
    border: 2px solid black;
    padding: 10px 5px 10px 5px;
    border-radius: 30px;
}

.underline-none:hover {
    text-decoration: none;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.shadow {
    box-shadow:5px 5px;
}

/* ZAYAVKI_TEMPLATE */

/* Paginator */

.zayavki-paginator ul {
    display: table;
    margin-right: auto;
    margin-left: auto;
}

.pagination-a{
    border: 1px solid black;
    color: black;
}

.pagination-a:hover {
    border: 1px solid black;
    background: #FF8A80;
    color:white;
}

 /*  PROFILE TEMPLATE */

.profile-row-1 {
    margin-bottom:20px;
}

.profile-row-1 > div {
    margin-bottom:25px;
}

.profile-row-2 {
    position:relative;
}

.profile-font {
    margin-left:15px;
    font-size:36px;
}

.profile-div {
    position:absolute;
    right: -15px;
    bottom: 5px;
}

.profile-div > a {
    font-size:22px;
}

.profile-col-1 {
    z-index:1;
    left: 17px;
}

.profile-col-2 {
    background-color:white;
    z-index:2;
    border:2px solid black;
}

.style-pills-a{
     border: 2px solid black;
     border-radius: 0px;
     padding: 5px 10px 5px 10px;
     color: black;
}

.style-pills > li+li {
    margin-top:0px;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover{
    background-color: #FF8A80;
}

@media (max-width:768px){
    .off-abs-pos-for-sm-screens {
        position: relative;
    }
}

/* KATALOG MAIN TEMPLATE */

.style-thumbnail div {
    font-size: 20px;
    text-decoration: underline;
}

.style-thumbnail img {
    max-width:100%;
}

.katalog-row {
    border:3px solid black;
}

.katalog-row > div+div {
    border-top: 3px solid black;
}

.katalog-row div {
    padding:5px;
    margin:0px;
}

.katalog-button {
    border-radius:35px;
    width:65%;
    margin:auto;
    padding: 5px 0px 5px 0px;
    border: 2px solid black;
}

/* KATALOG LIST TEMPLATE */

.katalog-col-1 {
    padding-left:0px;
    font-size:34px;
}

.katalog-col-2 {
    font-size:26px;
    margin-bottom:20px;
}

.breadcrumbs-style {
    background-color:white;
    margin:0px;
}

/* KATALOG END PAGE TEMPLATE */

.katalog-button-2 {
background-color: #E0E0E0;
    width: 100%;
}

.border-style-2{
    border: 2px solid black;
}

.border-style-2-div {
    padding-top: 15px;
}

.borders-none:hover {
    border: none;
}
