{% extends 'base_template.html' %}


{% block title %}
    <title>Главная</title>
 {% endblock %}

{% block content %}
<!--Header-->

<div class="container-fluid start-form-div-1">
    <div class="row" >
        <div class="col-sm-12 col-md-10  col-md-offset-2 col-lg-9  col-lg-offset-3">
            <p>Участники в Новосибирске: <u><a href="katalog_main.html">105 оптовых компаний</a></u>
            <u><a href="katalog_main.html">25 производителей</a></u></p>
        </div>
    </div>
</div>

<!-- Form container-->

<div class="container">
    <div class="row" >
        <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
            <h2 class="text-center">ВАМ ПОЗВОНЯТ ЛУЧШИЕ ПОСТАВЩИКИ НОВОСИБИРСКА</h2>
            <div class="start-form-div-2">
                <form>
                    <div class="row start-form-row-1" >
                        <div class="col-sm-3 vcenter">
                            <span class="span-h4-height">Я ищу</span>
                        </div><!--
                        --><div class="col-sm-9 text-left vcenter">
                            <div class="pull-left">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox">
                                        ЖБИ
                                        <span>
                                            ( фундаментальные блоки ФБС, плиты перекрытий ПК, перемычки )
                                        </span>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox"> Кирпич / Газобетон / Брус
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox"> Бетон / Раствор
                                    </label>
                                </div>
                                <div class="dropdown">
                                    <a href="#" class="dropdown-toggle pull-left" data-toggle="dropdown">
                                        в Новосибирске и области<span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Текст подпункта</a></li>
                                        <li><a href="#">Текст подпункта</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row start-form-row-2">
                        <div class="col-sm-3">
                            <label  for="exampleInputName1"><span class="span-h4-height">Описание</span></label>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" class="form-control  border-style" id="exampleInputName1">
                        </div>
                    </div>
                    <div class="row start-form-row-2">
                        <div class="col-sm-3">
                            <label for="exampleInputName2"><span class="span-h4-height">Телефон</span></label>
                        </div>
                        <div class="col-sm-3">
                            <input type="text" class="form-control border-style" id="exampleInputName2">
                        </div>
                        <div class="col-sm-2">
                            <label for="exampleInputName3"><span class="span-h4-height">Имя</span></label>
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control border-style" id="exampleInputName3">
                        </div>
                    </div>
                    <div class="start-form-button">
                        <button type="submit" class="btn btn-default btn-lg btn-block button-style">
                            <span class="span-h4-height">ОПУБЛИКОВАТЬ ЗАЯВКУ</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--Orders-->

<div class="container start-orders-container">
    <div class="row">
        <div class="col-xs-12 text-center">
            <h2>Свежие заявки</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
            <div class="margin-for-rows-and-hrs">
                <div class="row">

                    <!-- Orders navigation -->

                    <nav class="navbar navbar-orders">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="pull-left">
                                    <ul class="list-inline">
                                        <li><a href="#" class="start-orders-a">раздел:</a></li>
                                        <li>
                                            <div class="dropdown">
                                                <a class="start-orders-a" href="#" data-toggle="dropdown">Все<span class="caret"></span></a>
                                                <ul class="dropdown-menu">
                                                   <li><a href="#">Первый раздел</a></li>
                                                   <li><a href="#">Второй раздел</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="pull-right">
                                    <ul class="list-inline">
                                        <li><a href="#" class="start-orders-a">Регион:</a></li>
                                        <li>
                                            <div class="dropdown">
                                                <a href="#" class="start-orders-a" data-toggle="dropdown">
                                                    Новосибирская область<span class="caret"></span>
                                                </a>
                                                <ul class="dropdown-menu">
                                                   <li><a href="#">Москва</a></li>
                                                   <li><a href="#">не Москва</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
                <hr>
                {% for x in range(3) %}
                <div class="row start-orders-div">
                    <p>
                        <a class="pull-left">вчера, в 21:30</a>
                        <span class="glyphicon glyphicon-star pull-right">
                            <a href="#">в закладки</a>
                        </span>
                    </p>
                    <p>60 шт. ПК от 72-15 до ПК 21-15, Криводановка, с доставкой</p>
                    <p>Алексей</p>
                    <a class="btn btn-default button-style borders-none" href="#" role="button">Показать телефон</a>
                    <span>12 просмотров</span>
                </div>
                <hr>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 start-form-button">
            <a class="underline-none" href="zayavki.html">
                <button type="submit" class="btn btn-default btn-lg btn-block button-style">
                    <span class="span-h4-height">Просмотреть все заявки</span>
                </button>
            </a>
        </div>
    </div>
</div>

<br><br>

<!-- Carousel -->

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 vcenter">
            <div id="myCarousel" class="carousel slide  start-carousel-div" data-interval="3000" data-ride="carousel">
                <div class="carousel-inner">
                    {% for class in ['active item', 'item', 'item'] %}
                    <div class="{{class}}">
                        <div class="row">
                            <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
                                <div class="row start-carousel-row">
                                    <div class="col-xs-12">
                                        <div class="media">
                                            <div class="media-left">
                                                <a href="#">
                                                    <img class="media-object" src="static/img/user-icon.png" alt="Кирилл">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <h4 class="media-heading">Кирилл, 29 лет, г. Барабинск</h4>
                                                Бла-бла, мне помогло, все супер! Бла-бла, мне помогло, все супер!
                                                Бла-бла, мне помогло, все супер!  Бла-бла, мне помогло, все супер!
                                                Бла-бла, мне помогло, все супер!
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <a  class="carousel-control left" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="carousel-control right" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div><!--
   --><div class="col-xs-12 col-sm-12 col-md-2 text-center vcenter margin-for-sm-screens">
            <button type="submit" class="btn btn-default border-style button-style shadow">Оставить отзыв</button>
        </div>
    </div>
</div>
<br>
<br>

{% include 'footer_template.html' %}

{% endblock %}
