{% extends '_base_template.html' %}

{% block title %}
    <title>Компании | Организация</title>
 {% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="row" >
    <div class="col-xs-2 col-sm-1 col-md-offset-2 col-lg-offset-2 vcenter">
        <a href="index.html">
            <img src="static/img/house-icon.png" alt="Логотип">
            Логотип
        </a>
    </div><!--
 --><div class="col-xs-8 vcenter ">
        <ol class="breadcrumb breadcrumbs-style">
            <li><a href="index.html">Главная</a></li>
            <li><a href="katalog_main.html">Каталог организаций</a></li>
            <li><a href="katalog_list.html">ЖБИ</a></li>
            <li class="active">ООО Строй-Сервис-Монтаж</li>
        </ol>
    </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-1 col-md-7 col-md-offset-3 col-lg-6 col-lg-offset-3 border-style-2">
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="static/img/home-icon.png" alt="ООО Строй-Сервис-Монтаж">
                    </a>
                </div>
                <div class="media-body">
                    <h1 class="media-heading">ООО Строй-Сервис-Монтаж</h1>
                    <br>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1">
                            <p><strong>Место деятельности:</strong> Новосибирск<br>
                            <strong>Продукция:</strong> ЖБИ, бетон<br>
                            <strong>Адрес:</strong> Под часами, на том-же месте
                            <p><strong>Телефон:</strong> 00-00-00</p>
                        </div>
                        <div class="col-xs-8 col-xs-offset-2 col-sm-5 col-xs-offset-0 col-md-5">
                            <button type="submit" class="btn btn-default btn-lg btn-block button-style katalog-button katalog-button-2">
                                Оставить заявку <br> этой компании
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        Мы делаем
                        <ul>
                            <li>Плиты</li><li>Перекрытия</li><li>Доставляем бесплатно</li>
                        </ul>
                        <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eget mauris luctus, gravida libero at, molestie lacus. Morbi augue ipsum, consectetur ut erat vel, sodales rhoncus ex. Cras sed sem bibendum, consequat lectus sit amet, placerat elit. Cras tortor leo, pretium eget magna id, euismod convallis quam. Integer at justo a sem ultrices blandit. Fusce accumsan turpis quam, vitae gravida ex molestie et. In a venenatis justo, vel semper erat. Aliquam pretium libero quis dui suscipit commodo. Nam porttitor dui risus, eu elementum ante commodo in. Mauris ultrices nibh quis quam varius, ac suscipit risus hendrerit. Aenean eget est ex.
                        </p><p>
                        In hac habitasse platea dictumst. Praesent consectetur, tortor non aliquet pellentesque, felis urna sodales metus, a luctus turpis lectus ut mi. Quisque hendrerit a nunc ac commodo. Donec et arcu quis metus gravida suscipit nec nec turpis. Duis ut nulla vestibulum, tempor ex eu, sollicitudin ex. Pellentesque vulputate orci non sem varius varius id sit amet ipsum. Donec augue sem, malesuada vitae scelerisque eu, finibus ut risus. Proin id eleifend mi, id vehicula lorem. Integer feugiat iaculis interdum.
                        </p><p>
                        Quisque eget leo vel est hendrerit placerat in et augue. Donec a ipsum eu orci elementum eleifend. Etiam vestibulum ullamcorper est, quis efficitur velit ullamcorper ut. Nulla a est mi. Etiam vitae aliquet nisl. Quisque nibh mi, ultrices non consequat sit amet, imperdiet et mauris. Aenean quis risus ante. Aliquam at consectetur lacus.
                        </p>
                        <br>
                        <p>
                            <a href="#">Оставьте заявку этой компании</a>
                        </p>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-11 col-sm-offset-1 col-md-9 col-md-offset-3">
            <a href="katalog_main.html"><h3><u>Все организации Новосибирска и области</u></h3></a>
        </div>
    </div>
</div>
<br>

{% include '_footer_template.html' %}

{% endblock %}
