{% extends '_base_template.html' %}


{% block title %}
    <title>Каталог | Главная</title>
 {% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="row" >
    <div class="col-sm-3 col-md-2 col-md-offset-1 col-lg-2 col-lg-offset-1 vcenter">
        <a href="index.html">
            <img src="static/img/house-icon.png" alt="Логотип">
            Логотип
        </a>
    </div><!--
 --><div class="col-sm-9 vcenter ">
        <ol class="breadcrumb breadcrumbs-style">
            <li><a href="zayavki.html">Главная</a></li>
            <li class="active">Каталог организаций</li>
        </ol>
    </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
            <div class="row style-thumbnail">
                <div class="col-xs-6 col-xs-offset-3 col-sm-6 col-sm-offset-0">
                    <img src="static/img/diagonal.png" alt="ЖБИ">
                    <p><a href="katalog_list.html">ЖБИ</a></p>
                </div>
                <div class="col-xs-6 col-xs-offset-3 col-sm-6 col-sm-offset-0">
                    <img src="static/img/diagonal.png" alt="Кирпич, Газобетон, Брус">
                    <p><a href="katalog_list.html">Кирпич, Газобетон, Брус</a></p>
                </div>
                <div class="col-xs-6 col-xs-offset-3 col-sm-6 col-sm-offset-0">
                    <img src="static/img/diagonal.png" alt="Что-то еще">
                    <p><a href="katalog_list.html">Что-то еще</a></p>
                </div>
                <div class="col-xs-6 col-xs-offset-3 col-sm-6 col-sm-offset-0">
                    <img src="static/img/diagonal.png" alt="Что-то еще">
                    <p><a href="katalog_list.html">Что-то еще</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-11 col-sm-offset-1 col-md-9 col-md-offset-3">
            <h1>Все производители и оптовые компании</h1>
            <div class="row">
                <div class="col-xs-12 col-sm-7 col-lg-7">
                    <div class="row katalog-row">
                        {% for div in range(5) %}
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="static/img/house-icon.png" alt="ООО Строй-Сервис-Монтаж">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">ООО Строй-Сервис-Монтаж</h4>
                                <p><strong>Место деятельности:</strong> Новосибирск<br>
                                <strong>Продукция:</strong> ЖБИ, бетон<br>
                                <strong>Адрес:</strong> Под часами, на том-же месте
                                <p><strong>Телефон:</strong> 00-00-00</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <nav class="zayavki-paginator" aria-label="...">
                                <ul class="pagination">
                                    <li><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-xs-offset-3 col-sm-5 col-sm-offset-0 col-lg-4 col-lg-offset-1">
                    <a class="btn btn-default button-style button-a-style full-width-button" href="index.html">
                            <span class="span-h4-height">Оставить заявку</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-11 col-sm-offset-1 col-md-9 col-md-offset-3">
            <a href="index.html"><h3><u>Оставить заявку</u></h3></a>
        </div>
    </div>
</div>

{% include '_footer_template.html' %}

{% endblock %}
