{% extends '_base_template.html' %}

{% block title %}
    <title>Профиль</title>
 {% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="row" >
    <div class="col-sm-3 col-md-2 col-md-offset-1 col-lg-2 col-lg-offset-1 vcenter">
        <a href="index.html">
            <img src="static/img/house-icon.png" alt="Логотип">
            Логотип
        </a>
    </div><!--
 --><div class="col-sm-9 vcenter ">
        <ol class="breadcrumb breadcrumbs-style">
            <li><a href="zayavki.html">Главная</a></li>
            <li class="active">Личный кабинет</li>
        </ol>
    </div>
    </div>
</div>

    <!-- Profile container-->

    <div class="container">
        <div class="row profile-row-1">
            <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
                <div class="row profile-row-2">
                        <div class="col-sx-12 col-sm-8">
                            <span class="profile-font">Личный кабинет</span>
                        </div>
                        <div class="col-xs-12 col-sm-4 profile-div off-abs-pos-for-sm-screens" >
                            <a href="#">Оставить отзыв</a>
                        </div>
                </div>
                <div class="row">
                    <div class="col-xs-3 profile-col-1">
                        <ul class="nav nav-pills nav-stacked style-pills">
                            <li class="active"><a class="style-pills-a" data-toggle="pill" href="#home">Моя организация</a></li>
                            <li><a class="style-pills-a" data-toggle="pill" href="#menu1">Смена пароля</a></li>
                            <li><a class="style-pills-a" data-toggle="pill" href="#menu2">Моя рассылка</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-9 tab-content profile-col-2">
                        <div id="home" class="tab-pane fade in active">
                            <h3>Моя организация</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                        <div id="menu1" class="tab-pane fade">
                            <h3>Смена пароля</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                   Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                        <div id="menu2" class="tab-pane fade">
                            <h3>Моя рассылка</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
