{% extends '_base_template.html' %}

{% block title %}
    <title>Заявки</title>
 {% endblock %}


{% block content %}
<!--Orders-->

<div class="container-fluid">
  <div class="row" >
    <div class="col-xs-2 col-sm-1 col-md-offset-2 col-lg-offset-2 vcenter">
        <a href="index.html">
            <img src="static/img/house-icon.png" alt="Логотип">Логотип
        </a>
    </div><!--
 --><div class="col-xs-8 vcenter ">
    </div>
    </div>
</div>

<div class="container start-orders-container">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
            <h2>Свежие заявки</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
            <div class="margin-for-rows-and-hrs">
                <div class="row">

                    <!-- Orders navigation -->

                    <nav class="navbar navbar-orders">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="pull-left">
                                    <ul class="list-inline">
                                        <li><a href="#" class="start-orders-a">раздел:</a></li>
                                        <li>
                                            <div class="dropdown">
                                                <a class="start-orders-a" href="#" data-toggle="dropdown">Все<span class="caret"></span></a>
                                                <ul class="dropdown-menu">
                                                   <li><a href="#">Первый раздел</a></li>
                                                   <li><a href="#">Второй раздел</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="pull-right">
                                    <ul class="list-inline">
                                        <li><a href="#" class="start-orders-a">Регион:</a></li>
                                        <li>
                                            <div class="dropdown">
                                                <a href="#" class="start-orders-a" data-toggle="dropdown">
                                                    Новосибирская область<span class="caret"></span>
                                                </a>
                                                <ul class="dropdown-menu">
                                                   <li><a href="#">Москва</a></li>
                                                   <li><a href="#">не Москва</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
                <hr>
                {% for x in range(5) %}
                    <div class="row start-orders-div">
                        <p>
                            <a class="pull-left">вчера, в 21:30</a>
                            <span class="glyphicon glyphicon-star pull-right">
                                <a href="#">в закладки</a>
                            </span>
                        </p>
                        <p>60 шт. ПК от 72-15 до ПК 21-15, Криводановка, с доставкой</p>
                        <p>Алексей</p>
                        <a class="btn btn-default button-style borders-none" href="#" role="button">Показать телефон</a>
                        <span>12 просмотров</span>
                    </div>
                    <hr>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 start-form-button">
            <a class="btn btn-default button-style button-a-style" href="zayavki.html">
                    <span class="span-h4-height">Просмотреть все заявки</span>
            </a>
        </div>
    </div>
</div>

<!-- Paginator -->

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <nav class="zayavki-paginator" aria-label="...">
                <ul class="pagination">
                    <li><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">... 10</a></li>
                    <li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>

{% include '_footer_template.html' %}

{% endblock %}
